.App {
    height: 100vh;
    width: 100vw;
    background-image: url('background.svg');
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.centered-div {
    background-image: url('divbg.svg'); 
    width: 60%; 
    height: 90%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 10%;
    left: 15%; 
}

button {
    background-color: #06191B;
    border: 0.2px solid #D89F0A;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 3vh;
    margin: 23vh 0 0 28.5vw;
    cursor: pointer;
}

.button-text {
    font-size: 1.5vw;
    color: #D89F0A;
}

@media (max-width: 768px) {
    button {
        width: 12vw;
        height: 3vh;
    }

    .button-text {
        font-size: 1vw;
    }
}

.menu-text {
    display: flex;
    cursor: pointer;
    font-size: 1.5vw;
    position: static;
}

.swap-text {
    margin: 19vh 55vh 0 28vw;
}

.liq-text {
    margin: -4vh 40vh 0 32.5vw;
}
